body {
  font-familly: "Avenir Next";
  color: #ffffff;
  background-color:#202020;
}

li {
  list-style: none;
}

.header{
  background-color: #00deff;
  height: 60px;
  display: flex;
}

.headerlogo {
  padding: 10px 20px;
  float: left;
}

.header-list li{
  float: left;
  padding-left: 40px;
}
.header ul{
  display: flex;
}

.main{
  height: 1200px;
  margin-top: 50px;
  transform: translateX(-650px) translateY(0px) ;
}

.copy-container h1{
  font-size: 80px;
  margin-left: 200px;
}

.contents li{
  padding: 0px 20px 0px 20px;
}

.landmark{
  transform: translateX(-70px) translateY(0px) ;
  margin-top: 40px;
}

.footerinfo {
  background-color: #00deff;
  color: #ffffff;
  height: 120px;
  padding: 40px;
  transform: translateX(-70px) translateY(-90px) ;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
  font-size: 20px;
  padding-bottom: 30px;
}

.footer-list li {
  padding: 5px;
  flex-direction: column;
}
